*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.calculator {
  border-radius: 8px;
  height: 520px;
  width: 300px;
  border: 1px solid black;
  margin-left: 500px;
  margin-top: 140px;
}

.num-container {
  margin: 15px 20px 20px 20px;
  padding: 5px 2px 5px 2.5px;
  border: 1px solid black;
  border-radius: 5px;
}

.btn-num {
  height: 60px;
  width: 60px;
}

#display {
  background-color: lightgray;
  height: 70px;
  width: 260px;
  border: 1px solid black;
  margin-left: 20px;
  padding: 3px 0 0 9px;
  border-radius: 5px;
  font-size: 30px;
  margin-top: 10px;
}

#display-2 {
  background-color: lightgray;
  height: 70px;
  width: 260px;
  border: 1px solid black;
  margin-left: 20px;
  padding: 3px 0 0 9px;
  border-radius: 5px;
  font-size: 30px;
  margin-top: 10px;
}
